div.topic {
    margin-top: 200px;
    display: flex;
    /*background-color: blue;*/
    text-align: center;
}

div.newsletter {
    width: 100%;
    margin-top: 60px;
}


span#NL {
    color: #00bcfc;
}

a {
    text-decoration: none;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

div.newscientist {
    width: 100%;
    font-family: "PT SERIF",Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: xx-large;
    font-weight: 600;
    letter-spacing: -5px;

}

div.pricesale {
    width: 100%;
    margin-top: 50px;
   /* background-color: #00bcfc;*/
}

div.pricesale1 {
    background-color: #00bcfc;
    width: 250px;
    margin-left: 100px;
    height: 30px;
}

#HPS {
   color: azure;
}


